.workshop-header {
  width: 100%;
  background-color: #8C00EE;
  color: white;

  .top-header {
    width: 100%;
    padding: 1rem 5%;
    position: fixed;
    z-index: 10;
    transition: background-color .2s ease-in;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
    }

    .title {
      transition: color .2s ease-in;
    }

    &.white-theme {
      background-color: white;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .33);

      .title {
        color: #8C00EE;
      }
    }
  }

  .bottom-header {
    margin: 0 auto;
    padding: 6rem 5% 2rem;
    font-size: 2.625rem;
    color: white;
  }
}
